
header#header {
    background-color: #211F39;
}

header#header h1 {

    font-family: bruno ace;
    font-size:1.5em
}

#header a {
    color: #A91467;
    transition: 0.5s;
    
}

#header a:hover {
    color: #d4589d;
}

header > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    margin-bottom: 20px;
   
    gap: 20px;
    padding: 10px;

    align-items: center;
    justify-items: center;
}

#menu ul {
    display: flex;
    gap: 3px;

}

#menu li > a {
    color: #b10a65;
    background-color: #bbbcbe;
    box-shadow: 5px 2px 10px black;

    font-size: 0.9em;
    font-weight: 600;

    padding: 3px 6px;
    border-radius: 5px;

    transition: 0.5s;
}

#menu a:hover {
    background-color: black;
    color: white;
}